<div class="container box mt-6">
  <p class="title">Sign Up</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <div class="control has-icons-left">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "input" %>
        <span class="icon is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "input" %>
        <span class="icon is-left">
          <i class="fas fa-lock"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation", class: "input" %>
        <span class="icon is-left">
          <i class="fas fa-lock"></i>
        </span>
      </div>
    </div>

    <div class="actions has-icons-left">
      <%= f.button class: "button is-primary" do %>
          <span>Sign Up</span>
          <span class="icon is-left"><i class="fas fa-user-plus"></i></i></span>
      <% end %>
    </div>
  <% end %>

  <div class="container mt-3">
    <%= render "devise/shared/links" %>
  </div>
</div>
